@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navbar Background */
.navbg {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  z-index: 0;
}

.navbar-item.active {
  border-bottom: 2px solid white;
  padding: 38px;
}
